*{

    margin: 0;
    padding: 0;
    font-family: "sans-serif";
    box-sizing: border-box;
}

body{
    background-color: black;
}


#card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
#search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;     /* space-between ki jagah gap use karo */
}

#search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 20px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
}

#search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}


/* ---------------- MOBILE VIEW ----------------- */

@media (max-width: 480px) {

  #search {
    gap: 8px;        /* thoda gap kam */
  }

 #search input {
  height: 2.8rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

  #search button {
    width: 45px;
    height: 45px;
  }
}
#search button img{
    width: 16px;
}
#weather .weather-icon{
    width: 170px;
    margin-top: 30px;
}
#weather h1{
    font-size: 30px;
    font-weight: 500;
}
#weather h2{
     font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.Wind{
    font-size: 28px;
    margin-top: -6px;

}







